<!DOCTYPE html>

<html>
<head>
    <title> About </title>
    <link rel="icon" href="/img/1.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"> </script>
</head>
<body>
<div class="body-content">
{{>header}}
<p> Yadra rey..{{name}}</p>
</div>
{{>footer}}

</body>

</html>