<!DOCTYPE html>

<html>
<head>
    <title> Home </title>
    <link rel="icon" href="/img/1.png">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
<div class="body-content">
{{>header}}
<form> 
    <input placeholder='Location', type='text'>
    <button>Search</button>
    </form>

    <p id="msg"></p>
    <p id="error"></p>
    
<img class="front-img" src = "/img/1.png">
<h3> {{name}}</h3>
</div>
{{>footer}}
<script src="/js/app.js"> </script>
</body>

</html>