<!DOCTYPE html>

<html>
<head>
    <title> Home </title>
    <link rel="icon" href="/img/5.png">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
<div class="body-content">
{{>header}}
<form> 
        
		<input type="text" placeholder="Enter Location">

    <button>Search</button>
    </form>

    <p id="msg"></p>
    <p id="error"></p>
    


</div>
{{>footer}}
<script src="/js/app.js"> </script>
</body>

</html>