body {
    color: #333333;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    font-family:montserrat;

    min-height: 100vh;
    display:flex;
    flex-direction:column;
}

header {
    margin-bottom:20px;  
    
}

header a {
    margin-right:10px;
    text-decoration:none;
    color: green;
    
}

footer {
    border-top: 1px solid #999999;
    margin-top: 20px; 
}

h1 {
    font-size: 64px;
}

.front-img {
    height:250px;
}

.body-content {
    flex-grow: 1;
}